@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  max-width: calc(900px + 24px * 2);
  margin: 0 auto;
  background: #F9F9F9;
  min-height: 100vh;

  padding: 0px 24px;

  padding-bottom: 30px;
}

* {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.list-items {
  width: 100%;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
}

@media (max-width: 975px) {
  .list-items {
    grid-template-columns: 1fr;
  }
}

.no-results {
  opacity: 0.5;
}